
.product-discovery-indicators-syn{
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.product-discovery-row1-syn{
    display: flex;
    justify-content: space-between;
}

.product-discovery-column-syn{
    width: 19.45%;
}

.business-metrics-product-syn{
    font-family: 'GraphikBold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #333333;
}

.product-discovery-indicators2-syn{
    font-family: 'GraphikRegular';
    text-align: end;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #333333;
    margin-top: 20px;
}

.product-disc-indicators2-impression-syn{
    margin-right: 20px;
}

.product-disc-indicators2-impression-syn svg{
    margin-right: 5px;
}

.product-disc-indicators2-clicks-syn svg{
    margin-right: 5px;
}

.product-discovery-carousal-syn{
    width: 50%;
}

.product-discovery-page-rails-syn{
    width: 50%;
}
.product-discovery-page-rails-syn h6{
    text-align: center;
    font-family: 'GraphikMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #333333;
}


.product-discovery-carousal-and-page-rails-syn{
    display: flex;
    width: 100%;
    font-family: 'GraphikMedium';
    font-style: normal;
    font-weight: 500;
    color: #333333;
}

.product-discovery-carousal-syn h6{
    text-align: center;
    margin-bottom: 5px;
}

.product-discovery-carousal-two-pi-syn{
    display: flex;
    justify-content: space-evenly;
}

.border-right-deshed{
    border-right: 1px dashed #AFC5FD;
}

.product-discovery-carousal-pi-chart-one-syn{
    width: 45%;
}

.product-discovery-carousal-pi-chart-one-syn h6{
    font-family: 'GraphikMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #333333;
}

.product-discovery-carousal-pi-chart-two-syn h6{
    font-family: 'GraphikMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    color: #333333;
}

.product-discovery-carousal-heading-syn,
.product-discovery-page-rails-heading-syn{
    font-family: 'GraphikMedium';
    padding-bottom: 5rem;
    padding-top: 10px;
}

.product-discovery-funnel-metr-heading-syn{
    font-family: 'GraphikMedium';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 11px;
    color: #333333;
    margin-bottom: 15px;
}