.executive-summary-content-linear-contents {
  font-family: GothamLight;
  background: #ffffff;
  width: 97%;
  display: grid;
  padding: 0.3% 1%;
  padding-top: 1.2%;
  margin-bottom: 1%;
  /* justify-items: center; */
  border: 1px solid #d8e3ff;
  box-shadow: 0px 2px 5px #d6def8;
  border-radius: 4px;
  position: relative;
  bottom: 60px;
}

.executive-summ-content-ott-indicators {
  display: flex;
  justify-content: flex-end;
}

.executive-summ-content-ott-indicators p {
  margin-left: 20px;
  font-family: GothamLight;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
}

.executive-summ-content-ott-blue-indicator {
  height: 8px;
  width: 8.7px;
  margin: 0 3px;
  background-color: #43bcff;
}

.executive-summ-content-ott-yellow-indicator {
  height: 8px;
  width: 8.7px;
  margin: 0 3px;
  background-color: #ffcf5c;
}

.executive-summ-content-ott-darkblue-indicator {
  height: 8px;
  width: 8.7px;
  margin: 0 3px;
  background-color: #768cff;
}
@media only screen and (max-width: 1366px) {
  .executive-summary-content-linear-contents {
    overflow-x: scroll;
  }
}
@media only screen and (max-width: 767px) {
  .executive-summary-content-linear-contents {
    position: relative;
    top:0px;
  }
}


.executive-summary-content-linear-contents-headers {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  /* overflow-x: scroll; */
  /* padding-right: 0.8%; */
}

.executive-summary-content-linear-contents-header {
  font-family: GothamMedium;
  width: 28.7%;
  margin-left: 4.7%;
  height: 24px;
  text-align: center;
  background-color: #e5e7fa;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 10px;
  display: grid;
  align-content: center;
}

.executive-summary-content-linear-contents-header:nth-last-child(1) {
  width: 12%;
}

.executive-summary-content-linear-contents-table {
  /* margin: 20px; */
  /* margin: auto; */
  /* width: 98%; */
}

.executive-summary-content-linear-contents-t-shows-header {
  font-family: GothamMedium;
  width: 22%;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  padding: 15px 0px;
  padding-left: 7px;
}

.executive-summary-content-linear-contents-t-header {
  width: 17%;
}

.executive-summary-content-linear-contents-t-headers {
  font-family: GothamMedium;
  font-style: normal;
  font-size: 12px;
  line-height: 10px;
}

.executive-summary-content-linear-contents-t-body-rows {
  background-color: #fff4fc;
  font-family: GothamMedium;
  font-style: normal;
  font-size: 12px;
  /* line-height: 10px; */
  margin: 10px 0px;
}

.my-row-bubble-hover{
  background-color: #3E1F76;
  color: white;
  font-family: GothamMedium;
  font-style: normal;
  font-size: 12px;
}

.my-row-bubble-hover td svg {
  fill: white;
}

.exe-sum-lin-con-h-lbr {
  padding-top: 2px;
  display: block;
}

td:nth-child(1) {
  padding-left: 10px;
}
table {
  border-collapse: unset !important;
  border-spacing: 0 0.5em;
  caption-side: bottom !important;
}

.executive-summary-content-linear-tabs{
  width: 98.7%;
  display: flex;
  justify-content: space-between;
}

input[type="checkbox"] {
  position: relative;
  width: 30px;
  height: 15px;
  -webkit-appearance: none;
  appearance: none;
  background: #c7c5c5;;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  margin: 0 12px;
  /* box-shadow: inset 0 0 5px rgb(0 0 0 / 50%); */
}

input[type="checkbox"]::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: black;
  position: absolute;
  /* top: 0; */
  left: 0;
  /* bottom: -1px; */
  transition: 0.5s;
}

input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  /* background: #fff; */
}

input[type="checkbox"]:checked {
  /* background: black; */
}

.ott-toggle{
  text-align: end;
  font-size: 12px;
  margin-bottom: 10px;
  font-family: GothamLight;
}

.ott-toggle p{
  margin-bottom: 3px !important;
  margin-right: 65px;
}

.chart-scale-indicator-number{
  position: relative;
  top: 24px;
  left: 52px;
}

.chart-scale-indicator-minuse{
  position: relative;
  top: 24px;
  right: 42px;
}
.chart-scale-indicator-pluse{
  position: relative;
  top: 24px;
  left: 142px;
}

.chart-scale-indicators-morethan1{
  position: relative;
  right: 104px;
}

.chart-scale-indicators-morethan75{
  position: relative;
  right: 124px;
}

.chart-scale-indicators-watch-dur{
  position: relative;
  right: 101px;
}

.chart-scale-indicators-sub{
  position: relative;
  right: 89px;
}

/* #exe-sum-cont-table-row  */
td:nth-child(6) text.amount{
  display: none;
}

@media only screen and (max-width: 1440px) and (min-width: 1366px) {
  .executive-summary-content-linear-contents-header:nth-last-child(1) {
    width: 15.8%;
  }
  .executive-summary-content-linear-contents-header {
    margin-left: 1.1%;
    width: 32.5%;
  }
}

@media only screen and (max-width: 1366px) {
  .executive-summary-content-linear-contents-header:nth-last-child(1) {
    width: 18.7%;
  }
  .executive-summary-content-linear-contents-header {
    margin-left: 0.24%;
    width: 37.5%;
  }
}
b.text {
  font-family: GothamMedium;
  font-style: normal;
  font-size: 12px;
  line-height: 10px;
  font-weight: bold;
}