.sankay-chart-text{
    font-size: 1.05rem !important;
    font-family: "GothamLight";
    color:#333333;
}

.sankay-chart-value{
    font-size: 1.6rem !important;
    font-family: 'GothamBold';
    color:#333333;
}