.heat-map-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: 100%;
    height: auto;
}

.domain {
    stroke: none;
}

.tick text {
    font-size: 0.3rem;
    color: #808080;

}

.x-axis {
    position: static;
}

.y-axis-tick {
    min-width: 100%;

}

.y-axis-tick .tick text {
    fill: #808080;
    font-size: 0.33rem;
    /* background-color: #333333; */

}

.tooltip {
    position: absolute;
    height: auto;
    width: auto;
    background: #FFFFFF;
    border: 1px solid #D8E3FF;
    border-radius: 5px;
    padding: 5px 8px !important;
}


.tooltip p {
    font-weight: 800;
    letter-spacing: 0.5px;
    color: #333333;
    margin: 0 !important;
    padding: 2px;
    font-family: 'GothamLight';
    font-size: 12px;
}