.image{
  width: 100%;
}



map area{
  cursor: pointer;
}


.text{
  position: absolute;
  color: #ffd025;
  font-weight: 600;
  font-size: 22px;
}

.org{
  top: 16%;
  left: 4.5%;
}


.ret{
  top: 23%;
  left: 16.5%;
}

.paid{
  top: 77%;
  left: 4.3%;
}

.new{
  top: 81%;
  left: 16%;
}

.wpc {
  left: 87%;
  top: 40%;
}

.wfc {
  left: 87%;
  top: 52%;
}

.wa{
  left: 67.5%;
  top: 63%;
}

.search {
  left: 49.3%;
  top: 70%;
}

.ano {
  left: 30.2%;
  top: 16%;
}

.sin {
  left: 30.3%;
  top: 77%;
} 

.exp {
  left: 49.2%;
  top: 27%;
}

.sub {
  left: 67.5%;
  top: 36%;
}


.sankey{
      background-color: rgb(255, 255, 255) !important;
      width: 100% !important;
  position: relative;

}

.box1{
  margin: 20px;
  border-radius: 6px;
  background-color: white;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 13%;
  padding: 9px;
  border: 1px solid #e4e4ff;
  box-shadow: 0px 2px 5px 0px #d6d6ff
}


.num{
  font-weight: 600;
}


@media screen and (max-width: 1209px){
  .text{
    position: absolute;
    color: #ffd025;
    font-weight: 600;
    font-size: 12px;
  }
}


@media screen and (max-width: 669px){
  .text{
    position: absolute;
    color: #ffd025;
    font-weight: 600;
    font-size: 10px;
  }
}


