.bubble-chart-div{
    text-align: center;
}
text {
    font-weight: 800;
    font-size: 11px;
}
.bubble-indicators {
    color: #808080;
    font-family: 'GothamMedium';
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    position: absolute;
    left: 1.2rem;
    top: 14rem;
}
img.xxk {
    padding-left: 5px;
    padding-right: 5px;
}
/* tbody, td, tfoot, th, thead, tr{
    padding-bottom: 5px;
} */

text.lessthan300 {
    display: none;
}
@media only screen and (max-width: 767px) {
    .bubble-indicators{
        margin-top: 20px;
    }
 
    .executive-summary-product-container{
      width: auto!important;
    }
}

.bubble-chart{
  overflow: auto;
}

/* h2 {
	font-family: "Lato";
	text-align: center;
  text-transform: uppercase;
} */

/* .btn1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato";
  font-size: 0.3em;
  width: 180px;
  height: 30px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 2px solid #532c6c;
  transition: all 0.3s ease 0s;
  cursor: pointer;
} */

/* .btn1:hover {
  background-color: #532c6c;
  color: #fff;
  transform: translateY(-7px);
} */

/* .service-title {
  font-size: 0.8em !important;
} */

.selected-bubble{
  stroke-width: 2;
}

text {
  font-weight: bold;
    font-size: 08px;
    font-family: "GothamLight";
  }
  
  .bubble-legend-box {
    width: 1em;
    height: 1em;
    display: inline-block;
  }
  
  .bubble-legend-label {
    font-family: "Lato";
    color: #532c6c;
    padding-left: 1em;
  }
  
  #bubble-legend-container {
    display: none;
  }
  
  #bubble-legend {
    columns: 2;
    padding-top: 3em;
  }
  
  #bubble-legend li {
    padding-bottom: 1em;
  }
  
  .accessible {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }
 
  .chart-div {
      width: 2100px;
  }


@media screen and (max-width:768px ) {
  .chart3 svg text {
    font-size: 20px !important;
    font-family: "GothamLight" !important;
}
}
@media only screen and (max-width: 767px) {
  div#chart svg {
    margin-left: -26rem;
}
}