.sankey-chart-for-consumer-container {
    /* margin-top: 10rem; */
    /* margin: auto; */
    margin: 0.65rem 0 0 1rem;
    width: 90%;
    /* height: 50%; */
    /* overflow-x: scroll !important; */
}

.node-title {
    font-size: 0.5rem;
    letter-spacing: 0.3px;
    /* font-weight: 600; */
    color: #333333;
    font-family: 'GothamBold';
    opacity: 0.75;
}

.node-value {
    font-size: 1.1rem;
    letter-spacing: 0.3px;
    /* font-weight: 600; */
    /* color: #333333; */
    font-family: 'GothamBold';
    opacity: 0.75;
    color: #00C48C !important;
}

.node-percentage {
    font-size: 0.6rem;
    letter-spacing: 0.3px;
    font-weight: 800;
    color: #808080;
    font-family: 'Gothamlight';
    opacity: 0.75;
}

.node-percentage-change-pos {
    color: #00C48C;
    font-size: 0.6rem;
    letter-spacing: 0.3px;
    font-weight: 800;
    font-family: 'Gothamlight';
    opacity: 0.75;
}

.node-percentage-change-neg {
    color: #FF647C;
    font-size: 0.6rem;
    letter-spacing: 0.3px;
    font-weight: 800;
    font-family: 'Gothamlight';
    opacity: 0.75;
}

.sankey {
    margin: 0 auto;
    width: 1300px;
}

.link {
    /* stroke-width: 7px; */
    /* transform: matrix(1, 0, 0, -1, 0, 0); */
}

.circle {
    /* stroke: linear-gradient(180deg, #7E5AA4 0%, #3E1F76 100%); */
    cursor: pointer;
}

/* Desktop */
@media only screen and (min-width: 1561px) {}

/* Laptop and bigger screens */
@media only screen and (max-width: 1560px) and (min-width: 1421px) {
    .sankey-chart-for-consumer-container {
        /* margin-top: 2rem; */
        width: 90%;
        /* height: 100%; */
    }
}

@media only screen and (max-width: 1420px) and (min-width: 1317px) {

    .sankey-chart-for-consumer-container {
        /* margin-top: 2rem; */
        width: 90%;
        /* height: 100vh;; */
    }
}

@media only screen and (max-width: 1317px) and (min-width: 1280px) {
    .sankey-chart-for-consumer-container {
        /* margin-top: 2rem; */
        width: 90%;
        overflow: hidden;
    }

}

@media only screen and (max-width: 1279px) and (min-width: 1063px) {

    .sankey-chart-for-consumer-container {
        /* margin-top: 2rem; */
        /* width: 80%; */
        overflow: hidden;
    }
}

/* Tablets and medium screens */

@media only screen and (max-width: 1063px) and (min-width: 768px) {
    .sankey {
        margin: 0 auto;
        width: auto !important;
    }

    .sankey-chart-for-consumer-container {
        /* margin-top: 2rem; */
        /* width: 100%; */
        overflow: hidden;
    }
}

@media only screen and (max-width: 768px) and (min-width: 540px) {
    .sankey {
        margin: 0 auto;
        width: auto !important;
    }

    .sankey-chart-for-consumer-container {
        /* margin-top: 2rem; */
        /* width: 100%; */
        overflow-x: scroll;
    }
}


/* Mobile and smaller screens */

@media only screen and (max-width: 540px) and (min-width: 371px) {
    .sankey-chart-for-consumer-container {
        /* margin-top: 2rem; */
        /* width: 200%; */
        /* width: 100%; */
        overflow-x: scroll;
    }

    .sankey-chart-for-consumer-svg {
        /* overflow-x: scroll; */
    }
}

@media only screen and (max-width: 371px) {}