.node__root>foreignObject>button {
  color: black !important;
  background: rgb(255, 255, 255) !important;
  border-radius: 100px !important;
  border: 3px solid #5a3e89 !important;
  padding: 25px !important;
  width: 100% !important;
}

foreignObject .DownButton{
  color: black !important;
  background: #f3e4ec !important;
  border-radius: 100px !important;
  border: 3px solid #f37b92 !important;
  padding: 25px !important;
  width: 90% !important;
}



.arrow{
  color: rgb(1, 255, 1);
}

.node__root>foreignObject{
  /* width: 25% !important; */
}

svg .rd3t-g{
  transform: translate(850px, 30px) scale(0.5);
}

@media screen and (max-width: 1243px) {
  svg .rd3t-g{
    transform: translate(450px, 30px) scale(0.20);
  }
}

@media screen and (max-width: 593px) {
  svg .rd3t-g{
    transform: translate(300px, 30px) scale(0.25);
  }
}

@media screen and (max-width: 375px) {
  svg .rd3t-g{
    transform: translate(200px, 30px) scale(0.09);
  }

  .node__root>foreignObject{
    width: 80% !important;
  }
}



foreignObject .UpButton {
  color: black !important;
  background: rgb(201 255 241) !important;
  border-radius: 100px !important;
  border: 3px solid #1fcb9a !important;
  padding: 25px !important;
  width: 90% !important;
}

foreignObject .withoutPer {
  color: black !important;
  background: rgb(201 255 241) !important;
  border-radius: 100px !important;
  border: 3px solid #1fcb9a !important;
  padding: 25px !important;
  width: 90% !important;
}