.executive-summary-product {
  /* background: linear-gradient(165.96deg, #FFFFFF 0%, #F2F4FB 100%); */
}

.executive-summary-content-tab {
  font-family: "GothamBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #808080;
  width: 50%;
}

.executive-summary-content-tabs {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #d8e3ff;
  height: 30px;
  padding: 0%;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: 25px;
}

div.executive-summary-content-active-tab {
  font-family: "GothamBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #3e1f76;
  border-bottom: 3px solid #402177;
  width: 50%;
  cursor: pointer;
}

.executive-summary-product-container {
  /* display: flex; */
  /* width: 1300px; */
  /* padding-right: 5rem;
  padding-left: 5rem;
  margin: 0 auto; */
}

.product-userjourney-card {
  background: #ffffff;
  border: 1px solid #d8e3ff;
  box-shadow: 0px 2px 5px #d6def8;
  border-radius: 4px;
  margin-top: 20px;
  width: 100%;
}

.product-userjourney-card-heading {
  font-family: "GothamBold";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 11px;
  margin: 10px;
  margin-bottom: 15px;
}

.product-userjourney-card-number {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 20px;
  margin-left: 10px;
  display: inline;
}

.my-minuse-button {
  display: none;
}

.my-minuse-button {
  visibility: visible;
}

.my-pluse-minus-buttons {
  position: relative;
  top: 11px;
  width: 26px;
  height: 26px;
  margin: auto;
  background: white;
  border-radius: 50%;
  -moz-box-shadow: 0 5px 5px #d6def8;
  -webkit-box-shadow: 0 5px 5px #d6def8;
  box-shadow: 0 5px 5px #d6def8;
}

.my-button {
  background-color: #ffffff;
  margin-left: 5px;
  /* margin-bottom: 1px; */
}

.product-icons {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.pluse-value {
  color: #04c704;
  font-weight: 400;
  margin-left: 8px;
  font-size: 16px;
  line-height: 11px;
  display: flex;
  align-items: center;
  display: inline;
  position: relative;
  bottom: 7px;
}

.minuse-value {
  color: red;
  margin-left: 8px;
  font-weight: 400;
  font-size: 15px;
  line-height: 11px;
  display: flex;
  align-items: center;
  display: inline;
  position: relative;
  bottom: 7px;
}

.product-icons-logo{
  margin: 0 3px;
}

.product-icons-logo img{
  width: 19px;

}

.product-icons-logo p{
  margin-bottom: 0px;
  font-size: 14px;
  /* margin-left: 9px; */
}
.data-product{
  display: flex;

}

.product-journey-container h4{
  position: relative;
  top: 21px;
  left: 29px;
  color: #3e1f76;
  /* margin-left: 30px;
  margin-bottom: 0px; */
}

.product-journey-acquisitions {
  width: 300px;
    position: absolute;
    left: 30px;
}

.product-journey-discovery {
  width: 300px;
  position: absolute;
  left: 344px;
}

.product-journey-advertisement {
  width: 300px;
  position: absolute;
  left: 656px;
}


.product-journey-subscriptions {
  width: 300px;
  position: absolute;
  left: 970px;
}

.product-journey-engagement {
  width: 300px;
  position: absolute;
  left: 1284px;
}

.product-journey-loyalty {
  width: 300px;
  position: absolute;
  left: 1598px;
}

.prod-jou-icons-indicators label{
  margin: 0 10px;
}

.prod-jou-icons-indicators{
  text-align: end;
  margin-right: 10px;
}

@media only screen and (max-width: 1560px) and (min-width: 1441px){

  .prod-jou-icons-and-cards{
    position: relative;
    bottom: 70px;
  }

  .product-userjourney-card-heading {
    height: 18px;
  }

  .data-product{
    position: relative;
    bottom: 5px;
  }

  .product-journey-acquisitions {
    width: 210px;
    position: absolute;
    left: 77px;
}

.product-journey-discovery {
  width: 210px;
  position: absolute;
  left: 313px;
}

.product-journey-advertisement {
  width: 210px;
  position: absolute;
  left: 548.5px;
}

.product-journey-subscriptions {
  width: 210px;
  position: absolute;
  left: 785px;
}

.product-journey-engagement {
  width: 210px;
  position: absolute;
  left: 1024px;
}

.product-journey-loyalty {
  width: 210px;
  position: absolute;
  left: 1263px;
}
  
.line-chart-with-animation{
  overflow: hidden!important;
}
}

@media only screen and (max-width: 1440px) and (min-width: 1366px){
  .prod-jou-icons-indicators {
    text-align: end;
    margin-right: 42px;
}

  .product-userjourney-card-heading{
    height: 12px;
  }

  .data-product{
    position: relative;
    bottom: 2px;
  }

  .all-numbers-in-mil {
    position: absolute;
    top: 19%;
    left: -333px;
}

  .product-journey-acquisitions {
    width: 210px;
    position: absolute;
    left: 63.5px;
}

.product-journey-discovery {
  width: 210px;
  position: absolute;
  left: 285.5px;
}

.product-journey-advertisement {
  width: 210px;
  position: absolute;
  left: 507px;
}

.product-journey-subscriptions {
  width: 210px;
  position: absolute;
  left: 731px;
}

.product-journey-engagement {
  width: 210px;
  position: absolute;
  left: 955px;
}

.product-journey-loyalty {
  width: 210px;
  position: absolute;
  left: 1179px;
}
}

@media only screen and (max-width: 1023px) and (min-width: 768px){

  .data-product{
    position: relative;
    right: 9px;
  }

  .product-userjourney-card-heading {
    height: 25px;
  }

  .data-product{
    position: relative;
    top: 0px;
  }

  .data-product{
    position: relative;
    bottom: 590px;
  }

  .product-icons-logo img {
    width: 15px;
  }

  .product-icons-logo svg{
    width: 15px;
  }

  .product-icons-logo p {
    margin-bottom: 0px;
    font-size: 9px;
    /* margin-left: 9px; */
}

  .data-product{
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: auto auto auto auto ;
  }

  .executive-summary-product-container {
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
  }

  .product-journey-acquisitions {
    width: 120px;
    position: absolute;
    left: 23px;
  }
  
  .product-journey-discovery {
    width: 120px;
    position: absolute;
    left: 147px;
}
  
.product-journey-advertisement {
  width: 120px;
  position: absolute;
  left: 271px;
}
  
  
  .product-journey-subscriptions {
    width: 120px;
    position: absolute;
    left: 396px;
  }
  
  .product-journey-engagement {
    width: 120px;
    position: absolute;
    left: 521px;
  }
  
  .product-journey-loyalty {
    width: 120px;
    position: absolute;
    left: 644px;
  }

  /* .executive-summary-product-container{padding-left: 3rem;padding-right: 3rem;} */
 }

 @media only screen and (max-width: 1280px) and (min-width: 1100px){
  .prod-jour-chart-heading{width: 150px!important;}
  .line-chart-acquisitions{
    right: 100px!important;
   }
   .line-chart-discovery{
    right: 83px!important;
   }
   .line-chart-subscriptions{left: 0px !important;}
   .line-chart-engagement{left: 50px!important;}
   .line-chart-loyalty{left: 90px!important;}
 }

 /* @media only screen and (width: 1365px) {
  .product-journey-acquisitions {
    width: 15%;
    position: absolute;
    left: 20px;
}

.product-journey-discovery {
  width: 15%;
  position: absolute;
  left: 243px;
}

.product-journey-advertisement {
  width: 15%;
  position: absolute;
  left: 500px;
}

.product-journey-subscriptions {
  width: 15%;
  position: absolute;
  left: 768px;
}

.product-journey-engagement {
  width: 15%;
  position: absolute;
  left: 1031px;
}

.product-journey-loyalty {
  width: 14%;
  position: absolute;
  left: 1256px;
}
 } */

 @media only screen and (max-width: 1366px) and (min-width: 1278px){
  .prod-jou-icons-indicators {
    text-align: end;
    margin-right: 48px;
}

.product-userjourney-card-heading {
  height: 14px;
}

  .executive-summary-product-container {
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
  }

  .product-journey-acquisitions {
    width: 195px;
    position: absolute;
    left: 66px;
  }
  
  .product-journey-discovery {
    width: 195px;
    position: absolute;
    left: 276px;
}
  
.product-journey-advertisement {
  width: 195px;
  position: absolute;
  left: 485px;
}
  
  
  .product-journey-subscriptions {
    width: 195px;
    position: absolute;
    left: 695px;
  }
  
  .product-journey-engagement {
    width: 195px;
    position: absolute;
    left: 904.5px;
  }
  
  .product-journey-loyalty {
    width: 195px;
    position: absolute;
    left: 1113px;
  }

 } 

 @media only screen and (max-width: 1279px) and (min-width: 1024px){

  .product-icons-logo p{
    font-size: 11px;
  }

  /* .product-icons-logo img{
    width: 12px;
  } */

  .product-userjourney-card-heading{
    height: 25px;
  }

  .prod-jou-icons-and-cards{
    position: relative;
    bottom: 80px;
  }

  .product-journey-acquisitions{
    width: 140px;
    position: absolute;
    left: 108px;
  }

  .product-journey-discovery {
    width: 140px;
    position: absolute;
    left: 259.5px;
}

.product-journey-advertisement {
  width: 140px;
  position: absolute;
  left: 408px;
}

.product-journey-subscriptions {
  width: 140px;
  position: absolute;
  left: 558px;
}

.product-journey-engagement {
  width: 140px;
  position: absolute;
  left: 707px;
}

.product-journey-loyalty {
  width: 140px;
  position: absolute;
  left: 857px;
}
 }

@media only screen and (width: 1250px){
  .prod-jou-icons-and-cards{
    position: relative;
    bottom: 80px;
  }

  .product-journey-acquisitions{
    width: 140px;
    position: absolute;
    left: 96px;
  }

  .product-journey-discovery {
    width: 140px;
    position: absolute;
    left: 280.5px;
}

.product-journey-advertisement {
  width: 140px;
  position: absolute;
  left: 476px;
}

.product-journey-subscriptions {
  width: 140px;
  position: absolute;
  left: 660px;
}

.product-journey-engagement {
  width: 140px;
  position: absolute;
  left: 843px;
}

.product-journey-loyalty {
  width: 140px;
  position: absolute;
  left: 1024px;
}
}

 @media only screen and (max-width: 767px) {
  .data-product{margin-top: 0rem;grid-template-columns:auto!important;}
  .product-userjourney-card{margin-left: 20px;margin-right: 20px;}

  .product-journey-container h4 {
    position: relative;
    top: 9.5px;
    left: 12px;
    color: #3e1f76;
}

  .product-journey-acquisitions {
    width: 15.7%;
    position: absolute;
    left: 35px;
  }
  
  .product-journey-discovery {
    width: 15.7%;
    position: absolute;
    left: 215px;
}
  
.product-journey-advertisement {
  width: 15.7%;
  position: absolute;
  left: 394px;
}
  
  
  .product-journey-subscriptions {
    width: 15.7%;
    position: absolute;
    left: 570px;
  }
  
  .product-journey-engagement {
    width: 15.7%;
    position: absolute;
    left: 740px;
  }
  
  .product-journey-loyalty {
    width: 15.7%;
    position: absolute;
    left: 866px;
  }

 }


 @media screen and (max-width: 544px) {

  .product-userjourney-card-heading{
    height: 25px;
  }

  .product-userjourney-card{
    width: 100%;
  }

  /* .product-journey-container{overflow: auto;} */
   .data-product{
    display: flex;
    overflow: auto;
   }
   .product-userjourney-card{margin-left: 20px;margin-right: 20px;}
  
   .product-journey-acquisitions {
    width: 55%;
    position: relative;
    left: -12px;
    top: 0px;
}
  
  .product-journey-discovery {
    width: 55%;
    position: relative;
    left: 0px;
    top: 0px;
  }
  
.product-journey-advertisement {
  width: 55%;
  position: relative;
  left: 14px;
  top: 0px;
}
  
  
  .product-journey-subscriptions {
    width: 55%;
    position: relative;
    left: 29px;
    top: 0px;
  }
  
  .product-journey-engagement {
    width: 55%;
    position: relative;
    left: 42px;
    top: 0px;
  }
  
  .product-journey-loyalty {
    width: 55%;
    position: relative;
    left: 57px;
    top: 0px;
  }

 }

 @media only screen and (max-width: 1030px) and (min-width: 1020px){

  /* .product-icons-logo svg{
    width: 20px;
  }

  .product-icons-logo img{
    width: 20px;
  } */

  .product-icons-logo p{
    font-size: 11.5px;
  }

  .product-journey-acquisitions {
    width: 137px;
    position: absolute;
    left: 96px;
  }

  .product-journey-discovery {
    width: 137px;
    position: absolute;
    left: 238px;
}

.product-journey-advertisement {
  width: 137px;
  position: absolute;
  left: 380px;
}

.product-journey-subscriptions {
  width: 137px;
  position: absolute;
  left: 521px;
}

.product-journey-engagement {
  width: 137px;
  position: absolute;
  left: 662px;
}

.product-journey-loyalty {
  width: 137px;
  position: absolute;
  left: 803px;
}
 }