.executive-summary-product {
  /* background: linear-gradient(165.96deg, #FFFFFF 0%, #F2F4FB 100%); */
}

.executive-summary-content-tab {
  font-family: "GothamBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  color: #808080;
  width: 50%;
}

.executive-summary-content-tabs {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #d8e3ff;
  height: 30px;
  padding: 0%;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
  margin-top: 25px;
}

div.executive-summary-content-active-tab {
  font-family: "GothamBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #3e1f76;
  border-bottom: 3px solid #402177;
  width: 50%;
  cursor: pointer;
}

.executive-summary-product-container {
  /* display: flex; */
  /* width: 1300px; */
  /* padding-right: 5rem;
  padding-left: 5rem;
  margin: 0 auto; */
}

.product-userjourney-card {
  background: #ffffff;
  border: 1px solid #d8e3ff;
  box-shadow: 0px 2px 5px #d6def8;
  border-radius: 4px;
  margin-top: 20px;
  width: 82%;
}

.product-userjourney-card-heading {
  font-family: "GothamBold";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 11px;
  margin: 10px;
}

.product-userjourney-card-number {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
  margin-left: 10px;
  display: inline;
}

.my-minuse-button {
  display: none;
}

.my-minuse-button {
  visibility: visible;
}

.my-pluse-minus-buttons {
  position: relative;
  top: 11px;
  width: 26px;
  height: 26px;
  margin: auto;
  background: white;
  border-radius: 50%;
  -moz-box-shadow: 0 5px 5px #d6def8;
  -webkit-box-shadow: 0 5px 5px #d6def8;
  box-shadow: 0 5px 5px #d6def8;
}

.my-button {
  background-color: #ffffff;
  margin-left: 5px;
  /* margin-bottom: 1px; */
}

.product-icons {
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.pluse-value {
  color: #04c704;
  font-weight: 400;
  margin-left: 10px;
  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: center;
  display: inline;
}

.minuse-value {
  color: red;
  margin-left: 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  display: flex;
  align-items: center;
  display: inline;
}

.product-icons-logo{
  margin: 0 3px;
}

.product-icons-logo img{
  width: 19px;

}

.product-icons-logo p{
  margin-bottom: 0px;
  font-size: 14px;
  /* margin-left: 9px; */
}
.data-product{
  /* padding-left: 20px; */
  display: flex
}

.product-journey-acquisitions {
  width: 14%;
  position: absolute;
  left: 20px;
}

.product-journey-discovery {
  width: 14%;
  position: absolute;
  left: 313px;
}

.product-journey-advertisement {
  width: 14%;
  position: absolute;
  left: 673px;
}


.product-journey-subscriptions {
  width: 14%;
  position: absolute;
  left: 1032px;
}

.product-journey-engagement {
  width: 14%;
  position: absolute;
  left: 1382px;
}

.product-journey-loyalty {
  width: 14%;
  position: absolute;
  left: 1676px;
}

@media only screen and (max-width: 1560px) and (min-width: 1441px){
  .product-journey-acquisitions {
    width: 15%;
    position: absolute;
    left: 20px;
}

.product-journey-discovery {
  width: 15%;
  position: absolute;
  left: 245px;
}

.product-journey-advertisement {
  width: 15%;
  position: absolute;
  left: 535px;
}

.product-journey-subscriptions {
  width: 15%;
  position: absolute;
  left: 812px;
}

.product-journey-engagement {
  width: 15%;
  position: absolute;
  left: 1089px;
}

.product-journey-loyalty {
  width: 14%;
  position: absolute;
  left: 1338px;
}
}

@media only screen and (max-width: 1440px) and (min-width: 1366px){
  .product-journey-acquisitions {
    width: 15%;
    position: absolute;
    left: 20px;
}

.product-journey-discovery {
  width: 15%;
  position: absolute;
  left: 243px;
}

.product-journey-advertisement {
  width: 15%;
  position: absolute;
  left: 500px;
}

.product-journey-subscriptions {
  width: 15%;
  position: absolute;
  left: 768px;
}

.product-journey-engagement {
  width: 15%;
  position: absolute;
  left: 1031px;
}

.product-journey-loyalty {
  width: 14%;
  position: absolute;
  left: 1256px;
}
}

@media only screen and (max-width: 1023px) and (min-width: 768px){
  .product-icons-logo img {
    width: 15px;
  }

  .product-icons-logo svg{
    width: 15px;
  }

  .product-icons-logo p {
    margin-bottom: 0px;
    font-size: 9px;
    /* margin-left: 9px; */
}

  .data-product{
    padding-left: 20px;
    padding-right: 20px;
    grid-template-columns: auto auto auto auto ;
  }

  .executive-summary-product-container {
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
  }

  .product-journey-acquisitions {
    width: 18%;
    position: absolute;
    left: 23px;
  }
  
  .product-journey-discovery {
    width: 18%;
    position: absolute;
    left: 147px;
}
  
.product-journey-advertisement {
  width: 18%;
  position: absolute;
  left: 271px;
}
  
  
  .product-journey-subscriptions {
    width: 18%;
    position: absolute;
    left: 396px;
  }
  
  .product-journey-engagement {
    width: 18%;
    position: absolute;
    left: 521px;
  }
  
  .product-journey-loyalty {
    width: 18%;
    position: absolute;
    left: 644px;
  }

  /* .executive-summary-product-container{padding-left: 3rem;padding-right: 3rem;} */
 }

 /* @media only screen and (width: 1365px) {
  .product-journey-acquisitions {
    width: 15%;
    position: absolute;
    left: 20px;
}

.product-journey-discovery {
  width: 15%;
  position: absolute;
  left: 243px;
}

.product-journey-advertisement {
  width: 15%;
  position: absolute;
  left: 500px;
}

.product-journey-subscriptions {
  width: 15%;
  position: absolute;
  left: 768px;
}

.product-journey-engagement {
  width: 15%;
  position: absolute;
  left: 1031px;
}

.product-journey-loyalty {
  width: 14%;
  position: absolute;
  left: 1256px;
}
 } */

 @media only screen and (max-width: 1366px) and (min-width: 1278px){
  .executive-summary-product-container {
    padding-right: 0;
    padding-left: 0;
    margin: 0 auto;
  }

  .product-journey-acquisitions {
    width: 15.7%;
    position: absolute;
    left: 13px;
  }
  
  .product-journey-discovery {
    width: 15.7%;
    position: absolute;
    left: 216px;
}
  
.product-journey-advertisement {
  width: 15.7%;
  position: absolute;
  left: 444px;
}
  
  
  .product-journey-subscriptions {
    width: 15.7%;
    position: absolute;
    left: 672px;
  }
  
  .product-journey-engagement {
    width: 15.7%;
    position: absolute;
    left: 894px;
  }
  
  .product-journey-loyalty {
    width: 15.7%;
    position: absolute;
    left: 1104px;
  }

 } 

 @media only screen and (max-width: 1279px) and (min-width: 1024px){
  .product-journey-discovery {
    width: 15.7%;
    position: absolute;
    left: 222px;
}

.product-journey-advertisement {
  width: 15.7%;
  position: absolute;
  left: 440px;
}

.product-journey-subscriptions {
  width: 15.7%;
  position: absolute;
  left: 670px;
}

.product-journey-engagement {
  width: 15.7%;
  position: absolute;
  left: 887px;
}

.product-journey-loyalty {
  width: 15.7%;
  position: absolute;
  left: 1085px;
}
 }

 

 @media only screen and (max-width: 767px) {
  .data-product{margin-top: 0rem;grid-template-columns:auto!important;}
  .product-userjourney-card{margin-left: 20px;margin-right: 20px;}

  .product-journey-acquisitions {
    width: 15.7%;
    position: absolute;
    left: 35px;
  }
  
  .product-journey-discovery {
    width: 15.7%;
    position: absolute;
    left: 215px;
}
  
.product-journey-advertisement {
  width: 15.7%;
  position: absolute;
  left: 394px;
}
  
  
  .product-journey-subscriptions {
    width: 15.7%;
    position: absolute;
    left: 570px;
  }
  
  .product-journey-engagement {
    width: 15.7%;
    position: absolute;
    left: 740px;
  }
  
  .product-journey-loyalty {
    width: 15.7%;
    position: absolute;
    left: 866px;
  }

 }


 @media screen and (max-width: 544px) {

  .product-journey-container{overflow: auto;}
   .data-product{display: flex;}
   /* .product-userjourney-card{margin-left: 20px;margin-right: 20px;} */
  
   
   .data-product{
     display: flex;
   }

   .product-journey-acquisitions {
    width: 55%;
    position: relative;
    left: -12px;
    bottom: 64px;
}
  
  .product-journey-discovery {
    width: 55%;
    position: relative;
    left: 0px;
    bottom: 48px;
  }
  
.product-journey-advertisement {
  width: 55%;
  position: relative;
  left: -16px;
    bottom: 64px;
}
  
  
  .product-journey-subscriptions {
    width: 55%;
    position: relative;
    left: -16px;
    bottom: 64px;
  }
  
  .product-journey-engagement {
    width: 55%;
    position: relative;
    left: -16px;
    bottom: 64px;
  }
  
  .product-journey-loyalty {
    width: 55%;
    position: relative;
    left: -16px;
    bottom: 64px;
  }

 }

 @media only screen and (max-width: 1030px) and (min-width: 1020px){

  .product-journey-acquisitions {
    width: 19%;
    position: absolute;
    left: 11px;
  }

  .product-journey-discovery {
    width: 19%;
    position: absolute;
    left: 177px;
}

.product-journey-advertisement {
  width: 19%;
  position: absolute;
  left: 345px;
}

.product-journey-subscriptions {
  width: 19%;
  position: absolute;
  left: 515px;
}

.product-journey-engagement {
  width: 19%;
  position: absolute;
  left: 684px;
}

.product-journey-loyalty {
  width: 19%;
  position: absolute;
  left: 855px;
}
 }