.prograss-svg{
    vertical-align: top;
    font-size: 25px;
}
/* style={{ verticalAlign: 'top' ,    fontSize: '25px'}} */

.percent-green{
    fill: rgb(2, 207, 2);
    font-size: 13.5px;
}

.percent-red {
    fill: red;
    font-size: 13.5px;
}

text.amount, text.remaining-amount {
    /* font-weight: bold; */
    font-size: 10px;
    font-family: "GothamMedium";
    font-size: 12px;
}