.content-scheduling-with-heatmap-dropdowns-container {
  box-sizing: border-box;
  margin: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.content-scheduling-with-heatmap-dropdowns-dropdown-filters-container-product-syn {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 15px;
}

.content-scheduling-with-heatmap-legend {
  margin: 1rem 0 1rem;
  align-self: flex-end;
  justify-self: flex-end
}

.content-scheduling-with-heatmap-dropdowns-dropdown-filters-container-product-syn select {
  width: 15%;
  margin-top: 10px;
  background-color: transparent;
  /* padding: 0 1em 0 0; */
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  border: 1px solid #D8E3FF;
  padding: 1.5px 3px;
  border-radius: 4px;
  color: #333333;
}

.content-scheduling-with-heatmap-dropdowns-dropdown option {
  background-color: #333333;
  color: #D8E3FF;
}

.content-scheduling-with-heatmap-dropdowns-dropdown option:hover {
  /* background-color: sblack !important; */
  margin-top: 5rem;
}

.dropdown-filers-apply-button {
  background: linear-gradient(180deg, #7E5AA4 0%, #3E1F76 100%);
  border-radius: 4px;
  color: white;
  width: 5%;
  height: 4%;
  margin-top: 18px;
  outline: none;
}

.product-row1-syn{
  display: flex;
  justify-content: space-between;
}

/* Create three equal columns that floats next to each other */
.product-column-syn {
  width: 33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.drop-down-menu-contaier-product-syn {
  display: flex;
  flex-direction: column;
  min-width: 12%;
  /* margin: 0 1rem; */
}

.drop-down-menu-label {
  color: #808080;
  font-size: 14px;
  letter-spacing: 0.3px;
}

.drop-down-menu {
  display: flex;
  flex-direction: column;
}

.drop-down-menu-selection-box {
  display: flex;
  background: #FFFFFF;
  border: 1px solid #D8E3FF;
  border-radius: 4px;
  padding: 0px 7px;
  justify-content: space-between;
}

.drop-down-menu-selection-box-placeholder {
  /* font-size: 12px; */
  color: #808080;
  margin: 0 !important;
  padding: 0 4px !important;
}

.drop-down-menu-selection-box-down-arrow-icon {}

.drop-down-menu-options-container,
.multiselect-drop-down-menu-options-parent-container {
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  /* top: 100%;   */
  min-width: 11.8%;
  margin-top: 2rem;
  /* height: 25vh;
  overflow-y: scroll; */

  /* cursor:; */
  padding: 5px 0px;
  /* height: 10vh; */

  box-shadow: 0px 2px 9px rgba(89, 108, 168, 0.4);
}

.multiselect-drop-down-menu-options-parent-container {
  height: 25vh;
  overflow-y: scroll;
  margin-right: 10px;
}

.multiselect-dropwn-menu-options-child-container {
  /* height: 30vh; */
  /* overflow-y: scroll; */
}

.drop-down-menu-option {
  padding: 0px 8px;
}

.drop-down-menu-option:hover {
  background-color: #6979F8;
  color: #FFFFFF;
}

.empty-heatmap-container {
  width: 95%;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin: 5rem 2rem;
  top: 25%;
  /* border: 1px solid #D8E3FF;
  background-color: #f4f5fb; */
  font-size: 0.9rem;
  color: #808080;
  font-weight: 600;
  font-family: 'GothamLight';
}

.dropdown-calender-container {
  /* max-width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  box-shadow: 0px 2px 8px rgb(89 108 168 / 40%);
  background: #FFFFFF;
  border-radius: 4px;
  position: absolute;
  /* top: 100%;   */
  max-width: 13%;
  margin-top: 2rem;
  /* height: 25vh;
  overflow-y: scroll; */

  /* cursor:; */
  padding: 5px 0px;
  /* height: 10vh; */

  box-shadow: 0px 2px 9px rgba(89, 108, 168, 0.4);
}

.react-calendar {
  /* width: 80%; */
}


.react-calendar__navigation {
  border-bottom: 0.5px solid #D8D8D8;
  border-radius: 4px 4px 0px 0px;
}

.react-calendar__month-view__days button[disabled] {
  color: #333333;
  opacity: 0.2;
}

.dropdown-calender-container .react-calendar {}

.dropdown-calender-container button {
  background-color: white;
  border: none;
  height: 24px;
  width: 24px;
  margin: 0px 2px;
  cursor: pointer;
  outline: none !important;
  flex-basis: inherit !important;
}

.dropdown-calender-container .react-calendar__navigation__prev2-button,
.dropdown-calender-container .react-calendar__navigation__next2-button {
  display: none;
}

.dropdown-calender-container .react-calendar__navigation__label {
  color: #333333;
  font-size: 10px;
  font-weight: 500;
}

.dropdown-calender-container .react-calendar__navigation {
  display: flex;
  margin-bottom: 0 !important;
  height: 25px;
}

.dropdown-calender-container .react-calendar__month-view__weekdays__weekday abbr {
  font-size: 12px;
  color: #333333;
  font-weight: 800;
  text-decoration: none !important;
}

.dropdown-calender-container .react-calendar__month-view__days__day--neighboringMonth {
  /* color: rgb(124, 113, 148); */
  /* color: rgb(124, 113, 148); */
  color: #333333;
  opacity: 0.2;
  visibility: hidden;
  /* display: none; */
}

.dropdown-calender-container .react-calendar__tile {
  color: #333333;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: 600;
  padding: 0px;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.1s ease-in-out 0s;
}

.dropdown-calender-container .react-calendar__tile:hover,
.dropdown-calender-container .react-calendar__tile--active {
  background-color: #6979F8;
  border-radius: 50%;
  font-size: 14px;
  width: 24px;
  height: 24px;
  color: white !important;
  font-weight: 600;
}

.react-calendar__month-view__days button[disabled]:hover {
  cursor: not-allowed;
  background: none;
  color: #333333 !important;
  opacity: 0.2;
}

.multiselect-dropdown-menu-options-action-container {
  min-width: 50%;
  align-self: flex-end;
  display: flex;
  /* justify-content: space-between; */
  /* justify-content: flex-end; */
  font-size: 12px;
  line-height: 14px;
  font-family: "GothamBold";
  margin: 10px 5px 5px;
}

.dropdown-calender-action-buttons {
  min-width: 45%;
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  font-family: "GothamBold";
}

.dropdown-calender-action-button-ok,
.multiselect-dropdown-menu-options-action-ok-btn {
  color: #6979F8;
  outline: none;
  background: transparent;
  border: none;
  width: 40%;
  z-index: 5;
}

.dropdown-calender-action-button-cancle,
.multiselect-dropdown-menu-options-action-cancle-btn {
  color: #808080;
  background: transparent;
  border: none;
  width: 40%;
  z-index: 5;
}

.heatmap-container {
  height: 60vh;
  overflow-y: scroll;
  margin-top: 1rem;
}

.heatmap-child-container {

  /* height: 120px; */
}

.multiselect-dropwn-menu-container {
  display: flex;
  flex-direction: column;
  min-width: 12%;
  margin: 0 1rem;
}

.multiselect-drop-down-menu-options-parent-container {
  margin-top: 3.3rem !important;
}

.multiselect-dropwn-menu-option-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 1rem;
}

.multiselect-dropwn-menu-option-checkbox {
  margin: 0 0.8rem 0 0;
}

::-webkit-scrollbar {
  width: 6px;
  margin-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 3px grey; */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #D8E3FF;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: #b30000; */
}

.product-acquisitions-funnel-metrics-first-child-syn{
  width: 34%;
}

.product-acquisitions-funnel-metrics-second-child-syn{
  width: 35%;
}

.product-acquisitions-funnel-metrics-third-child-syn{
  width: 34%;
}

.product-acquisitions-funnel-metrics-card-syn{
  background: #FFFFFF;
  border: 1px solid #D8E3FF;
  box-shadow: 0px 2px 5px #D6DEF8;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  display: flex;
}

.product-all-indicators-with-icons-syn{
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  color: #333333;
}

.funnel-metrics-product-syn{
  font-family: "GothamBold";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 15px;
  color: #333333;
  margin-top: 15px;
}

.pluse-value-product-syn{
  font-family: 'GothamLight';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  display: flex;
  align-items: center;
  color: #00C48C;
  margin-left: 5px;
}

.product-acqisitions-card-value-syn{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  color: #333333;
}

.product-acqui-colorspara-syn{
  display: flex;
  justify-content: space-between;
  width: 68%;
}

.border-left-product-acqui{
  border-left: 1px dashed #AFC5FD;
  padding-left: 10px;
}

@media only screen and (max-width: 1057px) and (min-width:768) {
  .drop-down-menu-contaier-product-syn {
      min-width: 15%;
  }

  .dropdown-calender-container {
      width: 25%;
      min-width: none;
  }
}

@media only screen and (max-width: 768px) {
  .heatmap-container {
      overflow-x: scroll;

  }

  .heatmap-child-container {
      width: 180%;
      padding-bottom: 10px;
  }
}

@media only screen and (max-width: 570px) {
  .content-scheduling-with-heatmap-dropdowns-dropdown-filters-container-product-syn {
      flex-wrap: wrap;
      justify-content: flex-start;
  }

  .content-scheduling-with-heatmap-dropdowns-dropdown-filters-container-product-syn select {
      min-width: 30%;
      margin-right: 5px;
      font-size: 14px;
  }
}