
/* #chartdiv {
  width: 800px;
  height: 100px;
} */

.chartdiv rect(1){
  display: none;
  fill: 'red'
}


#chartdiv canvas:nth-child(1){

  width: 151px !important;
  height: 40px !important;

}

#chartdiv{
  background-color: rgb(236, 232, 255);
}

#chartdiv text {
  font-size: 8px;
  font-family: "GothamLight";
  margin-bottom: 13px !important;
}