.line-chart-with-animation{
    /* margin-top: 26px; */
    text-align: center;
}

#linkChart {
    padding: 10px;
}

.line-chart-all-dots{
    /* width: 1000px; */
    margin: auto;
}

.line-chart-all-dots div{
    display: inline-block;
    width: auto;
}

.line-chart-dots{
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: #00C48C;
    border-radius: 50%;
}

.line-chart-dot-odd{
    position: relative;
    top: 27px;
}

.line-chart-dot-even{
    position: relative;
    top: 91px;
}

.line-chart-acquisitions{
    position: relative;
    right: 30px;
}

.line-chart-discovery{
    position: relative;
    right: 17px;
}
.line-chart-discovery label{
    background-color: #FF647C;
}

.line-chart-advertisement{
    position: relative;
    right: 3px;
}
.line-chart-advertisement label{
    background-color: #FFC656;
}

.line-chart-subscriptions{
    position: relative;
    left: 11px;
}
.line-chart-subscriptions label{
    background-color: #00C48C;
}

.line-chart-engagement{
    position: relative;
    left: 25px;
}

.line-chart-engagement label{
    background-color: #FFC656;
}

.line-chart-loyalty{
    position: relative;
    left: 38px;
}
.line-chart-loyalty label{
    background-color: #FF647C;
}

.line-chart-with-animation{
    overflow: auto;
    box-sizing: border-box;
}

.prod-jour-chart-heading{
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
    cursor: pointer;
    font-family: GothamLight;
    border: 1px solid black;
    /* padding: 3px 10px; */
    width: 300px;
    height: 50px;
    display: grid;
    align-content: center;
    /* justify-content: start; */
    /* padding-left: 15px; */
    align-content: space-around;
    background: linear-gradient(180deg, #7E5AA4 0%, #3E1F76 100%);
    border-radius: 100px;
    color: #FFFFFF;

}

.all-numbers-in-mil {
    position: relative;
    top: 98px;
    /* right: 858px; */
}
@media only screen and (max-width: 1440px) and (min-width: 1100px){
    .line-chart-with-animation{
        overflow: hidden!important;
    }
    .line-chart-acquisitions{
        right: 181px!important;
    }
    .line-chart-loyalty{
        left: 189px!important;
    }
    .line-chart-discovery{
        right:115px!important;
    }
    .line-chart-engagement {
        left:123px!important;
    }
}

/* ---------------laptop----------------------- */
@media only screen and (max-width: 1560px) and (min-width: 1441px){
    .all-numbers-in-mil {
            position: absolute;
            top: 83px;
            /* right: 1363px; */
    }
    /* .prod-jour-chart-heading{
        padding: 3px 10px;
        width: auto;
        height: auto;
    } */
    
    .line-chart-acquisitions {
        position: relative;
        right: 346px;
    }

    .line-chart-acquisitions p{
        position: relative;
        left: 13px;
    }

    .line-chart-discovery {
        position: relative;
        right: 209px;
    }

    .line-chart-advertisement {
        position: relative;
        right: 67px;
    }

    .line-chart-subscriptions {
        position: relative;
        left: 78px;
    }

    .line-chart-engagement {
        position: relative;
        left: 220px
    }

    .line-chart-loyalty {
        position: relative;
        left: 359px;
    }

    .line-chart-loyalty p{
        position: relative;
        right: 15px;
    }
}

@media only screen and (max-width: 1440px) and (min-width: 1366px){

    .prod-jour-chart-heading{
        width: 210px;
        height: 42px;
    }

    .line-chart-with-animation{
        position: relative;
        top: 32px;
    }

    .line-chart-all-dots{
        display: flex;
    }

    .all-numbers-in-mil {
        width: 200px;
        position: absolute;
        top: 44px;
        left: -12px;
    
    }

    .line-chart-acquisitions {
        position: relative;
        right: -63px  !important;
    }

    .line-chart-discovery {
        position: relative;
        right: -75px !important;
    }

    .line-chart-advertisement {
        position: relative;
        right: -87px;
    }

    .line-chart-subscriptions {
        position: relative;
        left: 102px;
    }

    .line-chart-engagement {
        position: relative;
        left: 115px !important;
    }

    .line-chart-loyalty {
        position: relative;
        left: 128px !important;
    }
}

@media only screen and (max-width: 1365px) and (min-width: 1280px){
    /* .prod-jour-chart-heading{
        padding: 3px 10px;
        width: auto;
        height: auto;
    } */

    .all-numbers-in-mil {
        position: absolute;
        width: 165px;
        top: 46px;
    }

    .line-chart-acquisitions {
        position: relative;
        right: 250px !important;
    }

    .line-chart-discovery {
        position: relative;
        right: 153px !important;
    }
    
    .line-chart-advertisement {
        position: relative;
        right: 48px !important;
    }
    
    .line-chart-subscriptions {
        position: relative;
        left: 56px !important;
    }

    .line-chart-engagement {
        position: relative;
        left: 161px !important;
    }

    .line-chart-loyalty {
        position: relative;
        left: 259px !important;
    }

    .line-chart-loyalty p{
        position: relative;
        right: 23px;
    }
}

@media only screen and (max-width: 1279px) and (min-width: 1024px){
    /* .prod-jour-chart-heading{
        padding: 3px 10px;
        width: auto;
        height: auto;
    } */

    .all-numbers-in-mil {
        position: relative;
        top: 86px;
    }

    .line-chart-acquisitions {
        position: relative;
        right: 207px;
    }

    .line-chart-discovery {
        position: relative;
        right: 127px;
    }

    .line-chart-advertisement {
        position: relative;
        right: 38px;
    }

    .line-chart-subscriptions {
        position: relative;
        left: 50px;
    }

    .line-chart-engagement {
        position: relative;
        left: 136px
    }

    .line-chart-loyalty {
        position: relative;
        left: 217px;
    }
}

@media only screen and (width: 1024px){

    .prod-jour-chart-heading{
        width: 140px;
        height: 42px;
        
    }

    .all-numbers-in-mil {
        position: relative;
        top: 87px;
    }

    .line-chart-acquisitions {
        position: relative;
        right: -12px;
    }

    .line-chart-acquisitions p{
        position: relative;
        left: 5px;
    }

    .line-chart-discovery {
        position: relative;
        right: 6px;
    }
    
    .line-chart-advertisement {
        position: relative;
        right: 6px;
    }
    
    .line-chart-subscriptions {
        position: relative;
        left: -5.5px;;
    }

    .line-chart-engagement {
        position: relative;
        left: -5.2px;
    }

    .line-chart-loyalty {
        position: relative;
        left: -0.2px;
    }

    .line-chart-loyalty p{
        position: relative;
        right: 5px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 320px){
    .prod-jour-chart-heading{
        padding: 3px 10px;
        width: auto;
        height: auto;
    }
    .line-chart-acquisitions {
        position: relative;
        right: 142px;
    }

    .line-chart-acquisitions .prod-jour-chart-heading{
        position: relative;
        left: 56px;
        width: 100px;
    }

    .line-chart-discovery {
        position: relative;
        right: 82px;
    }
    
    .line-chart-advertisement {
        position: relative;
        right: 24px;
    }
    
    .line-chart-subscriptions {
        position: relative;
        left: 16px;
    }

    .line-chart-engagement {
        position: relative;
        left: 65px;
    }

    .line-chart-loyalty {
        position: relative;
        left: 132px;
    }

    .line-chart-loyalty p{
        position: relative;
        right: 5px;
    }
    
}

@media only screen and (max-width: 1023px) and (min-width: 768px){

    .all-numbers-in-mil {
        position: relative;
        top: 71px;
        right: -56px;
    }

    .prod-jour-chart-heading{
        padding: 3px 10px;
        width: auto;
        height: auto;
    }

    .line-chart-acquisitions {
        position: relative;
        right: 194px;
    }

    .line-chart-discovery {
        position: relative;
        right: 116px;
    }

    .line-chart-advertisement {
        position: relative;
        right: 36px;
    }

    .line-chart-subscriptions {
        position: relative;
        left: 30px;
    }

    .line-chart-engagement {
        position: relative;
        left: 102px;
    }

    .line-chart-loyalty {
        position: relative;
        left: 189px;
    }

    .prod-jour-chart-heading {
        font-size: 14px;
        padding: 3px 5px;
    }
    .line-chart-advertisement p{
        position: relative;
        right: 5px;
    }

    .line-chart-subscriptions p{
        position: relative;
        right: 0px;
    }

    .line-chart-engagement p{
        position: relative;
        right: -3px;
    }

    .line-chart-loyalty p{
        position: relative;
        right: 10px;
    }

    .line-chart-discovery p{
        position: relative;
        right: 4px;
    }
}

@media only screen and (width: 1280px){
    /* .prod-jour-chart-heading{
        padding: 3px 10px;
        width: auto;
        height: auto;
    } */

    .all-numbers-in-mil {
        position: absolute;
        top: 75px;
        /* left: -209px; */
    }

    .line-chart-acquisitions {
        position: relative;
        right: 208px !important;
    }

    .line-chart-discovery {
        position: relative;
        right: 128px !important;
    }

    .line-chart-advertisement {
        position: relative;
        right: 40px;
    }

    .line-chart-subscriptions {
        position: relative;
        left: 49px;
    }

    .line-chart-engagement {
        position: relative;
        left: 136px !important;
    }

    .line-chart-loyalty {
        position: relative;
        left: 216px !important;
    }
}

@media only screen and (max-width: 844px){

    .all-numbers-in-mil {
        position: relative;
        top: 75px;
        /* right: 295px; */
    }

    .line-chart-acquisitions {
        position: relative;
        right: 104px;
    }

    .line-chart-discovery {
        position: relative;
        right: 59px;
    }

    .line-chart-advertisement {
        position: relative;
        right: 19px;
    }

    .line-chart-subscriptions {
        position: relative;
        left: 11px;
    }

    .line-chart-engagement {
        position: relative;
        left: 47px;
    }

    .line-chart-loyalty {
        position: relative;
        left: 102px;
    }
}

@media only screen and (max-width: 767px) {

    .all-numbers-in-mil {
        position: relative;
        top: 76px;
        left: 55px;
    }

    .prod-jour-chart-heading{
        padding: 3px 10px;
        width: auto;
        height: auto;
    }

    /* .my-line-chart-svg{
        position: relative;
        top: 66px;

    } */

    #show, #hide{
        z-index: 1;
    }

    #linkChart{
        position: relative;
        bottom: 30px;
        right: 13px;
    }

    .prod-jour-chart-heading{
        font-size: 11px;
    }

    .line-chart-with-animation{
        margin-top: 0px;
    }

    .line-chart-acquisitions {
        position: relative;
        right: 135px;
        top: -28px;
    }

    .line-chart-acquisitions .prod-jour-chart-heading{
        position: relative;
        left: 50px;
        width: 90px;
    }
    
    .line-chart-discovery {
        position: relative;
        right: 12px;
        top: -28px;
    }

    .line-chart-advertisement {
        position: relative;
        left: 149px;
        top: -28px;
    }

    .line-chart-subscriptions {
        position: relative;
        left: 301px;
        bottom: 30px;
    }

    .line-chart-engagement {
        position: relative;
        left: 460px;
        bottom: 30px;
    }

    .line-chart-loyalty {
        position: relative;
        left: 623px;
        bottom: 29px;
    }

    .line-chart-loyalty p{
        position: relative;
        right: 7px;
    }

    
}