/* .line-chart-with-animation{
    margin-top: 100px;
    text-align: center;
}

.line-chart-all-dots{
    width: 1000px;
    margin: auto;
}

.line-chart-all-dots div{
    display: inline-block;
    width: auto;
}

.line-chart-dots{
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
}

.line-chart-acquisitions{
  
    margin-left: 50px;
} */


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: #3498db;
  stroke-width: 2px;
}

.area{
  opacity:.25;
  fill: #3498db;
}
.circle{
  stroke: #3498db;
  fill: #fff;
  stroke-width: 2px;
}
.circle.active{
  stroke-width: 3px;
}
.bubble rect{
  stroke: #3498db;
  fill: #fff;
}
.bubble text{
  font-size: 12px;
}