.line-chart-with-animation{
    margin-top: 65px;
    text-align: center;
}

#linkChart {
    padding: 10px;
}

.line-chart-all-dots{
    width: 1000px;
    margin: auto;
}

.line-chart-all-dots div{
    display: inline-block;
    width: auto;
}

.line-chart-dots{
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: #00C48C;
    border-radius: 50%;
}

.line-chart-acquisitions{
    position: relative;
    right: 259px;
}

.line-chart-dot-odd{
    position: relative;
    top: 27px;
}

.line-chart-dot-even{
    position: relative;
    top: 91px;
}

.line-chart-discovery{
    position: relative;
    right: 155px;
}
.line-chart-discovery label{
    background-color: #FF647C;
}

.line-chart-advertisement{
    position: relative;
    right: 49px;
}
.line-chart-advertisement label{
    background-color: #FFC656;
}

.line-chart-subscriptions{
    position: relative;
    left: 41px;
}
.line-chart-subscriptions label{
    background-color: #00C48C;
}

.line-chart-engagement{
    position: relative;
    left: 141px;
}
.line-chart-engagement label{
    background-color: #FFC656;
}

.line-chart-loyalty{
    position: relative;
    left: 252px;
}
.line-chart-loyalty label{
    background-color: #FF647C;
}
/* 
#linkChart {
    overflow-x: scroll;
} */

.line-chart-with-animation{
    overflow: auto;
}

.prod-jour-chart-heading{
    font-size: 16px;
    font-style: normal;
    line-height: 18px;
    /* font-family: ; */
    border: 1px solid black;
    padding: 3px;
    background: linear-gradient(180deg, #7E5AA4 0%, #3E1F76 100%);
    border-radius: 4px;
    color: #FFFFFF;

}

@media only screen and (max-width: 1024px) and (min-width: 320px){
    .line-chart-acquisitions {
        position: relative;
        right: 249px;
    }

    .line-chart-acquisitions p{
        position: relative;
        left: 5px;
    }

    .line-chart-discovery {
        position: relative;
        right: 145px;
    }
    
    .line-chart-advertisement {
        position: relative;
        right: 39px;
    }
    
    .line-chart-subscriptions {
        position: relative;
        left: 50px;
    }

    .line-chart-engagement {
        position: relative;
        left: 151px;
    }

    .line-chart-loyalty {
        position: relative;
        left: 262px;
    }

    .line-chart-loyalty p{
        position: relative;
        right: 5px;
    }
    
}